a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.active a.page-link.nostyle {
  color: white;
}

/* Fix a Bootstrap bug */
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
}

.badge-group {
  display: flex;
  flex-direction: column;
}

.badge-row {
  display: flex;
}

.badge-group span {
  flex: 1 1 auto;
}

.badge-group > .badge-row:first-child:not(:last-child) > span:first-child {
  border-bottom-left-radius: 0;
}

.badge-group > .badge-row:first-child:not(:last-child) > span:last-child {
  border-bottom-right-radius: 0;
}

.badge-group > .badge-row > span:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.badge-group > .badge-row > span:not(:first-child):not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge-group > .badge-row > span:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge-group > .badge-row:last-child:not(:first-child) > span:first-child {
  border-top-left-radius: 0;
}

.badge-group > .badge-row:last-child:not(:first-child) > span:last-child {
  border-top-right-radius: 0;
}

.badge-group
  > .badge-row:not(:last-child):not(:first-child)
  > span:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge-group > .badge-row:not(:last-child):not(:first-child) > span:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
